*{
margin:0;
padding:0;
box-sizing:border-box;}
body{
background:linear-gradient(to right,#FDFD96,#FFB6C1);
font-family:Ariel;}

.welcome{
background:url('https://img.freepik.com/premium-photo/person-is-using-laptop-with-blog-screen-visible-accompanied-by-cup-coffee-wicker-table_132358-78235.jpg?semt=ais_hybrid&w=740&q=80') center/cover;
padding:40px;
text-align: center;
color:brown;

}
header{
background:beige;
color:brown;
display:flex;
justify-content:space-between;
padding:15px;

}
header a{
color:brown;
text-decoration:none;
margin-right:10px;
font-size:30px;

}
.posts{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}
.post{
background-color:white;
border-radius:10px;
padding:15px;
box-shadow: 2px 7px 20px rgba(5,5,5,0.3);
}
.formbox{
background:beige;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}
.formcontainer{
width:300px;
background:white;
border-radius:10px;
padding:20px;
}
input,textarea{
width:100%;
padding:8px;
margin:10px 0px;

}
button{
background:beige;
color:brown;
width:100%;
padding:15px;
border-radius:15px;

}